{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Hey there!</p>

        <p>I'm <strong>Rebecca</strong>, but you can call me <strong>Becca</strong>. Why Becca? Well, maybe one day, I’ll let you in on that secret.</p>

        <p>Welcome to my little corner of the internet, where I share stories—woven from <b><i>real-life experiences, scripture, poetry, and short fiction.</i></b></p>

        <p>Writing has always been my way of understanding the world, and I hope my words resonate with you. Let’s journey together—one story, one verse, one reflection at a time.</p>

        <p>Welcome to Becca's Blog.</p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
